<!DOCTYPE html>
<html>
<head>
	<title>Cocktails</title>
	<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

</head>
<body>

	<header class="header">

		<img class="logo-header" src="{{ asset('assets/img/logo.jpg') }}" alt="logo recettes" />

		<nav class="nav-header">



		</nav>

	</header>