{% extends 'base.html.twig' %}

{% block metatitle %}
	Les catégories de cocktails
{% endblock metatitle %}


{% block main %} 

	{% for category in categories %}

	<article>

		<h2>{{category.nom}}</h2>
		<p>{{category.description}}</p>

	</article>

	{% endfor %}

{% endblock main %}