{#extends recupère le fichier de base html#}
{% extends 'base.html.twig' %}

{# definit le contenu du main #}
{% block main %}


		<h1 class="main-title">Tous les cocktails</h1>

		{% include 'partials/cocktails/_loop-cocktails.html.twig' %}


{# definit la fin du contenu du bloc main#}
{% endblock main %}